{% extends 'home.html' %}
{% block content %}
<body>
    <h1>{{title}}</h1>
    
    <table>
        <thead>
            <th>Id</th>
            <th>Product_id</th>
            <th>Stock</th>
            <th>Created_at</th>
        </thead>
        <tbody>
            {% for item in model %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.product_id}}</td>
                <td>{{item.stock}}</td>
                <td>{{item.created_at}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}